@model Products
@{
    SelectList selectListItems = new SelectList(ViewBag.Cate, "Id", "Name");
    ViewData["Title"] = "Edit Product";
}

<div class="container py-5">
    <h1 class="text-center display-4 mb-4">Edit Product</h1>
    <form method="post" class="shadow p-4 rounded bg-light">
        <div class="mb-3">
            <label class="form-label" asp-for="Title">Title</label>
            <input class="form-control" asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Price">Price</label>
            <input type="number" class="form-control" asp-for="Price">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="quantity">Quantity</label>
            <input type="number" class="form-control" asp-for="quantity">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="categoriesId">Category</label>
            <select class="form-select" asp-for="categoriesId" asp-items="@selectListItems">
            </select>
        </div>
        <div class="d-grid">
            <input type="submit" class="btn btn-success btn-lg" value="Update">
        </div>
    </form>
</div>
